{% block content %}
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Schedule</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="http://127.0.0.1:8000/customer/modal/" method="POST">
          {% csrf_token%}
          <div class="col form-group">
            <label for="activity-type" class="form-label"
              >Activity Type<span class="text-danger">*</span></label
            >
            <select class="form-select" aria-label="Select an item" name="activity_type">
              <option>--------</option>
              <option value="meeting">Meeting</option>
              <option value="call">Call</option>
              <option value="email">Email</option>
            </select>
          </div>
          <div class="col form-group">
            <label for="id_due_date"
              >Due Date <span class="text-danger"></span
            ></label>
            <input
              type="date"
              name="due_date"
              placeholder="yyyy-mm-dd"
              class="form-control"
              required
              id="id_due_date"
            />
          </div>
          <div class="col form-group">
            <label for="fee" class="form-label"
              >Fee<span class="text-danger">*</span></label
            >
            <input
              type="text"
              name="fee"
              class="form-control"
              id="fee"
              required
            />
          </div>
          <div class="col form-group">
            <label for="summary" class="form-label">Summary</label>
            <textarea
              class="form-control"
              name="summary"
              id="summary"
              rows="3"
            ></textarea>
          </div>
          <input
              type="hidden"
              name="request"
              value="{{request}}"
              class="form-control"
              id="fee"
              required
            />
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
